<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>RecipeBox V1</h1>
    {% if request.user.is_authenticated %}
        <a href="/logout/">Logout</a>
        <h3>Logged in as: <h2>{{ request.user }}</h2> </h3>
    {% else %}
        <a href="/register/">Register</a>
        <a href="/login/">Login</a>
    {% endif %}
    {% for recipe in recipes %}
    <ul style="list-style: none">
        <li>
            <h2><a href="/recipe/{{recipe.id}}/" > {{ recipe.title }}<a></h2>
        </li>
    </ul>
    {% endfor %}
    <h4><a href="/addauthor/">Add Author<a></h4>
    <h4><a href="/addrecipe/">Add Recipe<a></h4>
</body>
</html>